$header: #142129;
$primary: #142129;
$white: #FFF;
$softGray: #f5f5f5;
$mediumGray: #ebebeb;
$strongGray: #8b8b8b;
$black: #000;
$secondary: #3c627a;
$purple: #6657f2;
$purpleDisabled: #cfcbfe;
$red: #ff0000;
$bluePokemon: #3565ae;
$yellowPokemon: #ffcb05;